/xarek.products.domain/bin/Debug/EntityFramework.SqlServer.dll
/xarek.products.domain/bin/Debug/EntityFramework.SqlServer.xml
/xarek.products.domain/bin/Debug/EntityFramework.dll
/xarek.products.domain/bin/Debug/EntityFramework.xml
/xarek.products/bin/EntityFramework.SqlServer.dll
/xarek.products/bin/EntityFramework.SqlServer.xml
/xarek.products/bin/EntityFramework.dll
/xarek.products/bin/EntityFramework.xml
