<!DOCTYPE html>

<html ng-app="productsListApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <link href="~/Content/navbar.css" rel="stylesheet">
</head>
<body style="background-repeat:round; background-image:url('../../img/gplaypattern.png')">
    <div style="background-color:white" class="container" ng-view>
    </div>
</body>
</html>