<h1>Перечень элементов</h1>
<a class="btn btn-success" href="#/new">Добавить запись</a>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="product in products">
                    <a class="list-group-item list-group-item-action"data-toggle="list" role="tab" ng-href="#/edit/{{product.ProductId}}">
                        <h3>{{product.ProductName}}</h3>
                        <span class="badge badge-primary badge-pill">#: {{product.ProductId}}</span>
                        <span class="badge badge-primary badge-pill">Количество: {{product.Count}}</span>
                        <span class="badge badge-primary badge-pill">Цена за еденицу: {{product.Price}}</span>
                    </a>
                    <button class="btn btn-danger btn-sm" ng-click="IDelete(product.ProductId)">Удалить</button>
                </li>
            </ul>
        </div>
    </div>
</div>